<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <main>
            {{!-- Add nav bar with links to other pages --}}
            {{{body}}}
            {{!-- Add some sort of footer? --}}
        </main>
    </body>
</html>